<div>
  <ngx-selectbox color="green" [options]="[{id: 1, label: 'test1'}, {id: 2, label: 'test2'}]" (change)="onChangeSelect($event)"></ngx-selectbox>
</div>

<div class="form-checkbox-group">
  <ngx-checkbox [checked]="true" color='green' [label]="'test1'" (changeState)="onChange($event)"></ngx-checkbox>
  <ngx-checkbox [checked]="true" color='green' [label]="'test2'" (changeState)="onChange($event)"></ngx-checkbox>
  <ngx-checkbox [checked]="true" color='green' [label]="'test3'" (changeState)="onChange($event)"></ngx-checkbox>
  <ngx-checkbox [checked]="true" color='green' [label]="'test4'" (changeState)="onChange($event)"></ngx-checkbox>
  <ngx-checkbox [checked]="false" color='green' [label]="'test5'" (changeState)="onChange($event)"></ngx-checkbox>
  <ngx-checkbox [checked]="true" color='green' [label]="'test6'" (changeState)="onChange($event)"></ngx-checkbox>
</div>