<div style="margin-bottom: 20px;">
  <button *ngFor="let c of colorset;" (click)="setColor(c)">{{c | titlecase}}</button>
</div>

<div>
  <button (click)="selectController.deselect()">Deselect</button>
  <button *ngFor="let o of optionsSelect; let i = index;" (click)="selectController.select(i)">Select {{o.label}}</button>
  <button (click)="selectController.clean()">Clean</button>
</div>
<div>
  <ngx-selectbox 
  [color]="color" 
  required
  [options]="optionsSelect" 
  [selected]="selected" 
  (changeValue)="onChangeSelect($event)"
  (getController)="subscribeValidate($event)"
  ></ngx-selectbox>
</div>



<div>
  <button *ngFor="let s of statesetCheckbox" (click)="setStateCheckbox(s)">{{s | titlecase}}</button>
</div>

<div class="form-checkbox-group">
  <ngx-checkbox 
  [checked]="checked" 
  [color]='color' 
  required
  [label]="'test1'" 
  (changeValue)="onChange($event)"
  ></ngx-checkbox>
</div>

<div>
  <button (click)="checkboxGroupController.deselectAll()">Deselect All</button>
  <button *ngFor="let o of optionsSelect; let i = index;" (click)="checkboxGroupController.toggle(i)">Toggle {{o.label}}</button>
  <button (click)="checkboxGroupController.selectAll()">Select All</button>
  <button (click)="checkboxGroupController.clean()">Clean</button>
</div>
<ngx-checkbox-group
[options]="optionsSelect"
[color]="color"
required
[min]="2"
[max]="'2'"
(changeValue)="onChangeCheckboxGroup($event)"
(getController)="getCheckboxGroupController($event)"
></ngx-checkbox-group>


<ngx-checkbutton
[label]="'test222'"
required
[color]="color"
></ngx-checkbutton>

<div class="form-textfield-group">
  <ngx-textfield></ngx-textfield>
</div>
