
<div style="display: flex;">
  <ng2-checkbox [checked]="true" color='green' [label]="'test1'" (changeState)="onChangeState($event)"></ng2-checkbox>
  <ng2-checkbox [checked]="true" color='green' [label]="'test2'" (changeState)="onChangeState($event)"></ng2-checkbox>
  <ng2-checkbox [checked]="true" color='green' [label]="'test3'" (changeState)="onChangeState($event)"></ng2-checkbox>
  <ng2-checkbox [checked]="true" color='green' [label]="'test4'" (changeState)="onChangeState($event)"></ng2-checkbox>
  <ng2-checkbox [checked]="false" color='green' [label]="'test5'" (changeState)="onChangeState($event)"></ng2-checkbox>
  <ng2-checkbox [checked]="true" color='green' [label]="'test6'" (changeState)="onChangeState($event)"></ng2-checkbox>
</div>